<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>week2</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/vue3-toastify@0.1.11/dist/index.css" rel="stylesheet" />
  <link rel="stylesheet" href="all.css">
</head>

<body>
  <div id="app">
    <div class="container safss">
      <div class="row py-3">
        <div class="col-12">
          <h2>產品列表</h2>
          <button type="button" class="btn btn-primary" @click="openModal('add')">新增產品</button>
          <table class="table table-hover text-nowrap mt-4">
            <thead>
              <tr>
                <th v-for="th in thead" :key="th.name" :class="th.class">{{ th.name }}</th>
              </tr>
            </thead>
            <tbody v-if="productLen">
              <tr v-for="item in products" :key="item.id">
                <td>{{ item.title }}</td>
                <td class="text-center">
                  {{ item.category }}
                </td>
                <td class="text-end">
                  ${{ item.origin_price }}
                </td>
                <td class="text-end">
                  ${{ item.price }}
                </td>
                <td class="text-center">
                  <span v-if="item.is_enabled" class="text-success">啟用</span>
                  <span v-else class="text-danger">未啟用</span>
                </td>
                <td class="text-center">
                  <button type="button" class="btn btn-primary btn-sm me-2" @click="openModal('edit', item)">編輯</button>
                  <button type="button" class="btn btn-primary btn-sm" @click="openModal('del', item)">刪除</button>
                </td>
              </tr>
            </tbody>
          </table>
          <p>目前有 <span>{{ productLen }}</span> 項產品</p>
        </div>
      </div>
    </div>

    <div ref="entryModal" class="modal fade" id="entryModal" tabindex="-1" aria-labelledby="entryModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="entryModalLabel">{{ modalTitle }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="category" class="form-label">分類</label>
                <select id="category" class="form-select" aria-label="Default select example" v-model="singleData.category">
                  <option value="" selected disabled>請選擇</option>
                  <option :value="item.val" v-for="item in categoryList" :key="item.id">{{ item.val }}</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="productName" class="form-label">產品名稱</label>
                <input type="text" class="form-control" id="productName" placeholder="請輸入產品名稱" v-model="singleData.title">
              </div>
              <div class="mb-3">
                <label for="productName" class="form-label">售價</label>
                <input type="number" class="form-control" id="productName" placeholder="請輸入產品名稱" v-model="singleData.origin_price">
              </div>
              <div class="mb-3">
                <label for="productName" class="form-label">折價</label>
                <input type="number" class="form-control" id="productName" placeholder="請輸入產品名稱" v-model="singleData.price">
              </div>
              <div class="mb-3">
                <label for="productName" class="form-label">單位</label>
                <input type="text" class="form-control" id="productName" placeholder="請輸入產品名稱" v-model="singleData.unit">
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" v-model="singleData.is_enabled">
                <label class="form-check-label" for="flexSwitchCheckChecked">是否啟用</label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" @click="entryProduct">確定</button>
          </div>
        </div>
      </div>
    </div>

    <div ref="delModal" class="modal fade" id="delModal" tabindex="-1" aria-labelledby="delModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="delModalLabel">{{ modalTitle }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>你確定要刪除此筆資料嗎?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" @click="delProduct">確定</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js'
    integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=='
    crossorigin='anonymous'></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script type="module" src="./products.js">
  </script>
</body>
</html>